@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-image: url("mada.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_Side
{
    position: relative;
    background: #003147;
    padding: 40px;
}
.container .bas
{
    position: relative;
    background: #490734;
    padding: 40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top:0;
    left:0;
    width: 200px;
    height:200px;
    object-fit: cover;
}
.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo
{
    padding-top: 40px;
    margin-left: 30px;
    padding-right: 300px;
    display: inline;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position:relative;

}
.contactInfo ul li
{
    position:relative;
    list-style: none;
    margin:2px 0;
    cursor: pointer;
}

.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:#03a9fa;
    margin-right: 5px;
}

.contactInfo ul li span
{
    font-weight: 300;
    color:#fff;
}
.Education
{
    padding-top: 40px;
    margin-left: 30px;
    padding-right: 300px;
    display: inline;
}
.Education ul li
{
    margin-bottom: 15px;
    list-style: none;
}
.Education h5
{
    color:#03a9fa;
    font-weight: 500;
}
.Education h4:nth-child(2)
{
    color:#fff;
    font-weight: 400;
}
.Education h4
{
    color:#fff;
    font-weight: 100;
    font-style: italic;
}

.contactInfo.Language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.Language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9fa;
}
.contactInfo.compétences .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.compétences .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #d7e60b;
}
.contactInfo.applications .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.applications .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #de9905;
}
.contactInfo.outils .img1
{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.contactInfo.outils .img1 img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactInfo.outils ul p
{
    font-weight: 300;
    color:#fff;
}
.contactInfo.outils ul li 
{
    display: inline-block;
    font-size: 18px;
    margin-right: 40px;

}

.contactInfo.Personalité p
{
    font-weight: 300;
    color:#fff;

}
.Certification h5
{
    color:#03a9fa;
    font-weight: 500;

}
.Certification h4
{
    color:#fff;
    font-weight: 400;

}
.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 20px;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

}
.ref ul
{
    position:relative;

}
.ref ul li
{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.ref ul li .img2
{
    position: relative;
    width: 90px;
    height: 70px;
}
.ref ul li .img2 img
{
    position: absolute;
    top:0;
    right: 5px;
    width: max-content;
    height: 100%;
    object-fit: cover;
}
p
{
    color:#333;
    font-size: 15px;
}

.about .box
{
    margin:20px 0;
    display: block;
}
.about .box .année
{
    min-width: 150px;
}
.about .box .année h5
{
    text-transform: uppercase;
    color:#848c90;
    font-weight: 600;
}

.about .box .text h4
{
    text-transform: uppercase;
    color:#2a7da2;
    font-size: 16px;
    cursor: pointer;
}

.about .box .text .tooltiptext {
  visibility: hidden;
  width: 160px;
  height: max-content;
  background: #d7e60b;
  border: #000 1px solid;
  color: #333;
  text-align: center;
  border-radius: 6px;
  left: 95%;
  padding: 20px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.about .box .text:hover .tooltiptext {
  visibility: visible;
}
.about .box .text .mission
{
    font-style: italic; 
    font-weight: bold; 
    font-size: 14px; 
}
.about .box .text ul li
{
    position:relative;
    color:#333;
    font-size: 15px;
    margin-left: 50px;
}
@media (max-width:1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}

